html {
  scroll-behavior: smooth;
  background-color: #121212;
  color: white;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;

  height: 100vh;
  width: 100vw;
}
/* Hide webkit-based scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Remove outlines on all div elements */
div {
  outline: none;
  /* border: 2px solid red; */
}
h1, h2 {
  margin: 0;
}
