.body {
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation uono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.footer {
  display: flex;
  justify-content: center;
  transition: all 200ms ease-in;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  /* font-size: 4rem; */
}

.title,
.description {
  text-align: center;
  transition: all 200ms ease-in;
}

.title h2 {
  color: orange;
  text-decoration: none;
}

.description {
  font-size: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes colorCycle {
  0% {
    color: cyan;
  }

  100% {
    color: orange;
  }
}

.listyBoy {
  display: block;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  /* width: 70%; */
  padding: 1rem 3rem;
  transition: all 100ms ease-in;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid orange;
  border-radius: 5px;
  /* border: 1px solid #00000080; */
}

.listyBoy:hover {
  cursor: pointer;
  border: 1px solid orange;
}

.listyBoy :active {
  border: 1px solid orange;
}

.ageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#dog {
  animation: colorCycle 1s linear infinite alternate;
}

#timer {
  font-size: 2.5rem;
  /* width: ; */
  padding: 2rem;
  /* margin: 2rem; */
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

.social {
  transition: all 0.5s ease-in-out;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.social:hover,
.social:active .social:focus {
  cursor: pointer;
  transform: rotate(720deg);
}

.orange {
  color: orange;
}

.white {
  color: white !important;
}

.ageBtn {
  width: fit-content;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.01);
  transition: all 200ms ease-in;
  border: 2px solid #ffa50040;
  border-radius: 5px;
  /* padding: 2rem 0rem; */
}

.ageBtn:hover {
  border: 2px solid orange;
  color: orange;
}

.clickMe {
  font-size: 24px;
  cursor: pointer;
  height: 40px;
  transition: all 100ms;
  text-align: center;
  width: 100%;
}

.clickMe:hover {
  color: orange;
}

.scrollBtn {
  z-index: 1000;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.01);
  border: solid rgba(255, 255, 255, 0.05);
  border-radius: 10%;
  transition: all 200ms ease-in;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  margin: .5rem;
}

.scrollBtn:hover {
  color: orange;
  border: solid orange;
}

.socialContainer {
  margin: 1rem;
}


.galleryContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
