.container {
  padding: 0 2rem;
  background-color: #121212;
}

.main {
  height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-shrink: 0;
  padding: 2rem 0;

  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: orange;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.subtitle a {
  color: orange;
  text-decoration: none;
}

.subtitle a:hover,
.subtitle a:focus,
.subtitle a:active {
  text-decoration: underline;
}

.subtitleX {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}

.subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.subtitle,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: rgba(255, 255, 255, 0.01);

  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.timer {
  font-size: 1.5rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
}

.champgrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap !important;
  width: 100%;
  height: 50vh;
}

.social {
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.social:hover {
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  color: orange;
  border-color: orange;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.01);
  border: 0.1px solid rgba(255, 255, 255, 0.01);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  /* max-width: 50vw; */
}

@media (max-width: 600px) {
  .main {
    height: 100vh;
  }

  .grid {
    flex-direction: row !important;
  }
  .card {
    width: 25vw;
  }

  .card h1 {
    font-size: small;
  }

  .image {
    display: none;
  }
  .champMastery {
    border-radius: 0px;
    position: absolute;
    bottom: 0px;
    background: none !important;
  }

  .champName {
    border-radius: 0px;
    position: absolute;
    bottom: 0px;
    background: none !important;
  }
  .champcard {
    background: rgba(255, 255, 255, 0.01) !important;
    height: 3rem !important;
    border-radius: 10px;
    border: 0.1px solid rgba(255, 255, 255, 0.01);
  }
}

.champName {
  position: absolute;
  width: 200px;
  z-index: 1000;
  top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.champMastery {
  position: absolute;
  width: 200px;
  z-index: 1000;
  bottom: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.champcard {
  position: relative;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0.5rem;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.champcard:hover,
.champcard:focus,
.champcard:active {
  height: 220px;
  width: 220px;
}
.champcard:hover .champMastery {
  width: 220px;
}
.champcard:hover .champName {
  width: 220px;
}
.champcard:hover .image {
  width: 220px;
}

.champcard a:hover,
.champcard a:focus,
.champcard a:active {
  color: orange;
}

.orange {
  color: orange;
}

.white {
  color: white !important;
}

.ageBtn {
  color: orange;
}

.ageBtn:hover {
  cursor: pointer;
}

.clickMe {
  cursor: pointer;
}
.clickMe:hover {
  color: orange;
}

.scrollBtn {
  padding: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  background: rgba(255, 255, 255, 0.01);
  border: solid rgba(255, 255, 255, 0.05);
  border-radius: 20%;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.scrollBtn:hover {
  color: orange;
  border: solid orange;
}

.alertBox {
  height: 5vh;
}

.image {
  width: 200px;
  border-radius: 10px;
  position: relative;
  top: 0px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
